main {
  max-width: 1400px;
  margin: auto;
}

.alert {
  position: fixed;
  display: flex;
  justify-content: space-between;
  border-radius: 0.75rem;
  top: -100%;
  width: 340px;
  left: calc(50% - 170px);
  padding: 1.75rem;
  font-weight: bold;
  color: var(--white);
}

.alert.success {
  background-color: var(--main-green);
}

.alert.error {
  background-color: var(--alert-error);
}

.alert.open {
  animation: openAlert 0.3s ease-in-out forwards;
}

.alert.close {
  animation: closeAlert 0.3s ease-in-out;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.25rem;
  padding-block: 0.75rem;
  box-shadow: var(--smooth-shadow);
}

.burger {
  border-radius: 0.75rem;
  border: 0.125rem solid var(--main-green);
  width: 3.25rem;
  height: 3.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.45rem;
  padding: 0.25rem;
  cursor: pointer;
}

.line-burger {
  border-radius: 0.75rem;
  height: 0.125rem;
  width: 75%;
  background-color: var(--main-green);
}

.logo-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-green);
  text-decoration: none;
  font-weight: bold;
}

.login-button {
  padding-block: 1.025rem;
}

.profile {
  position: relative;
}

.profile-menu {
  z-index: 9999;
  position: absolute;
  padding-inline: 1.75rem;
  overflow: hidden;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark-grey);
  border-radius: 0.75rem;
}

.profile-menu h3 {
  text-align: center;
  color: var(--main-green);
}

.profile-menu.open {
  animation: openMenu 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.profile-menu.close {
  animation: closeMenu 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  padding-inline: 1.25rem;
  padding-block: 2.75rem;
}

@keyframes openMenu {
  from {
    height: 0;
  }

  to {
    height: 80%;
  }
}

@keyframes closeMenu {
  from {
    height: 80%;
  }

  to {
    height: 0;
    display: none;
  }
}

@keyframes openAlert {
  from {
    top: -100%;
  }

  to {
    top: 10px;
  }
}

@keyframes closeAlert {
  from {
    top: 10px;
  }

  to {
    top: -100%;
  }
}

@media screen and (min-width: 980px) {
  .profile-menu {
    width: 525px;
    right: 0;
  }
}
