@if (game) {
<img class="banner" [src]="game.imgUrl" />
<h1 class="title">{{ game.name }}</h1>
<p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit voluptate laboriosam facilis fuga quia. Et placeat, nostrum sunt nisi perspiciatis quaerat alias laudantium modi quasi, quibusdam mollitia ipsum! Nisi, exercitationem.</p>
<div class="price-container">
  <img src="assets/icons/dollar.svg" />
  <p class="price-txt">{{ game.price }}</p>
</div>
<div class="chip-container">
  <div class="chip-line">
    @for (category of game.categories; track $index) {
    <span class="chip category">{{ category.name }}</span>
    }
  </div>
  <div class="chip-line">
    @for (platform of game.platforms; track $index) {
    <span class="chip platform">{{ platform.name }}</span>
    }
  </div>
</div>

<section class="rating-section">
  <h2>Rating</h2>
  <div class="cards">
    @for (comment of game.comments; track $index) {
    <div class="rating-card">
      <div class="profile">
        <img [src]="comment.user.imgUrl" class="profile-photo" />
        <div class="card-name">{{ comment.user.username }}</div>
      </div>
      <div class="content">
        {{ comment.content }}
      </div>
    </div>
    }
  </div>
</section>
}
