<div class="content">
  <div class="filter-button-container">
    <div class="filter-button" (click)="switchFiltersMenu()">
      <img src="assets/icons/filter.svg" />
    </div>
  </div>

  <div class="filter-menu" [ngClass]="filterMenuStatus">
    <form [formGroup]="filterForm">
      <div class="filter-input-container">
        <p>Order by</p>
        <select class="input" formControlName="orderBy">
          <option value="price">Price</option>
          <option value="name">Name</option>
          <option value="releaseYear">Release Year</option>
        </select>
      </div>
      <div class="filter-input-container">
        <p>Price</p>
        <div class="inputs-price-container">
          <input
            formControlName="priceFrom"
            type="number"
            class="input"
            placeholder="From..."
          />
          <input
            formControlName="priceTo"
            type="number"
            class="input"
            placeholder="To..."
          />
        </div>
      </div>
      <div class="checkbox-inputs">
        <div class="filter-input-container">
          <p>Category</p>
          <select
            class="input"
            multiple
            formControlName="categories"
            [size]="categories.length"
          >
            @for (category of categories; track $index) {
            <option [value]="category.name">{{ category.name }}</option>
            }
          </select>
        </div>
        <div class="filter-input-container">
          <p>Platform</p>
          <select
            class="input"
            multiple
            formControlName="platforms"
            [size]="platforms.length"
          >
            @for (platform of platforms; track $index) {
            <option [value]="platform.name">{{ platform.name }}</option>
            }
          </select>
        </div>
      </div>
    </form>
    <button class="button filter-button" (click)="filterClickHandler()">Apply</button>
  </div>


  <section>
    <form class="search-container" [formGroup]="filterForm">
      <input
        formControlName="name"
        [(ngModel)]="search"
        type="text"
        class="input input-search"
        placeholder="Find your favorite title..."
      />
      <button type="text" class="button search-button" (click)="searchClickHandler()">
        Search
      </button>
    </form>
    <app-loading-bar [open]="games === null"></app-loading-bar>
    @if (games!==null && games.length > 0) {
    <div class="pagination-button-container">
      <span
        class="page-button"
        [class.disabled]="!canPrev()"
        (click)="prevPage()"
        >prev</span
      >
      @for (page of pageButtons; track $index) {
      <span
        class="page-button"
        [class.active]="page === currentPage"
        (click)="updateCurrentPage(page)"
        >{{ page + 1 }}</span
      >
      }

      <span
        class="page-button"
        [class.disabled]="!canNext()"
        (click)="nextPage()"
        >next</span
      >
    </div>
    <div class="game-list">
      @for (game of games; track $index) {
        <app-game-card [game]="game" />
        }
    </div>

    <div class="pagination-button-container">
      <span
        class="page-button"
        [class.disabled]="!canPrev()"
        (click)="prevPage()"
        >prev</span
      >
      @for (page of pageButtons; track $index) {
      <span
        class="page-button"
        [class.active]="page === currentPage"
        (click)="updateCurrentPage(page)"
        >{{ page + 1 }}</span
      >
      }

      <span
        class="page-button"
        [class.disabled]="!canNext()"
        (click)="nextPage()"
        >next</span
      >
    </div>
    } @else if (games !== null && games.length <= 0) { No games found. }
  </section>
</div>
